// headers_color
$header_color: #36187d;

// headers_font_size
$header_font_size: xxx-large;

// sub_header_font_size
$sub_header_font_size: xx-large;

// p_color
$p_color: rgb(90, 90, 90);

// p_font_size
$p_font_size: large;
